@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heroButton {
		@apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#1ecbe1]/80 hover:text-[#1ecbe1]/80;
	}
}

.header,
.footer {
	overflow: hidden;
	position: fixed;
}

.page-content {
	overflow: auto;
}

.blogTopLevel {
	display: block;
	word-wrap: break-word;
	overflow: hidden;
	white-space: pre-line;
}

.blog-text ul,
ol {
	font-weight: bold;
	list-style-type: square;
}

.blog-text a {
	color: #1ecbe1;
	text-decoration: underline;
}

.blog-text pre {
	padding: 10px;
	background: #606060;
	color: #ffffff;
	width: 85vw;
	overflow-x: auto;
	overflow-y: auto;
}

.blog-text h1 {
	font-size: 36px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
	font-size: 26px;
}

.youtube-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.youtube-wrapper iframe {
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* Fix category colors in production */
.bg-yellow-600 {
	background-color: #f7ab0a;
}

.bg-blue-600 {
	background: #1ecbe1;
}

.bg-green-600 {
	background-color: #03c988;
}

.bg-purple-600 {
	background-color: #00337c;
}

.bg-red-600 {
	background-color: #fb2576;
}

.swiper {
	padding: 10px;
	width: 100%;
	height: 100%;
}

.swiper-slide {
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
	color: #1ecbe1 !important;
	font-size: 10px !important;
}

@media (max-width: 420px) {
	.swiper-button-next {
		padding-left: 24px;
	}

	.swiper-button-prev {
		padding-right: 24px;
	}
}

@media (max-width: 780px) {

	.swiper-button-next:after,
	.swiper-button-prev:after {
		font-size: 24px !important;
	}
}

.swiper-scrollbar-drag {
	background-color: #1ecbe1 !important;
}

/* light blue - #1ecbe1  */
/* orange - F7AB0A */

/* rgb(36,36,36) - background grey color*/

/* https://colorhunt.co/palettes/dark */